/* Element styles */

a {
  text-decoration: none;
  color: white;
}

input {
  padding: 2px;
  margin: 2px;
}


li {
  list-style: none;
  margin: 5px;
}

/* Class Styles */

.container,
.nav-container {
  display: flex;
  margin: auto;
  padding: 2px;


}

.container {
  border: solid black 1px;
  justify-content: space-evenly;
  width: 75%;
}

.container-item {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  margin: auto;
  padding: 10px;
}

.list-title {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.main-page {
  width: 65vw;
  margin: auto;
}

.nav-container {
  background: lightslategrey;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 75%;

}

/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
  container-item {
    width: 20%;
  }
}